doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug		
		link(rel='stylesheet', href='/chat.css')
		link(rel='stylesheet', href='/sweetalert2.css')

	body
		include navbar.pug

		.container
			h3.text-center.my-3.mt-white.display-3#heading Messaging

		.container-fluid
			.row.justify-content-center
				.col-md-4.col-xl-3.chat
					.card.mb-sm-3.mb-md-0.contacts_card
						.card-header
							h4(style='color:white;') Recent Conversations
						
						.card-body.contacts_body
							ui.contacts
								each user in friendList
									li.py-2(id=user.liker)
										.d-flex.bd-highlight(onclick="setActive('"+user.liker+"');")
											.user_info
												//- span #{uName}
												span #{user.liker}
									
						.card-footer
				.col-md-8.col-xl-6.chat
					.card#msgWrap
						.card-header.msg_head
							.d-flex.bd-highlight
								
								.user_info
									span Chat history:
									
						.card-body.msg_card_body#populateme
									
						.card-footer
							.input-group
								.input-group-append
									span.input-group-text.attach_btn
										i.fa.fa-ellipsis-h
								input#messageField.form-control.type_msg(type='text', placeholder='Type your message...')
								.input-group-append
									button#sendMsg.input-group-text.send_btn(type='button' onclick="sendMessage('"+activeChat+"');")
										i.fa.fa-location-arrow(aria-hidden='true')


	include footer.pug

	include js_includes.pug
	script(src="/chat.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js")
	if friendList.length == 0
		script.
			swal(
				'No Matches',
				'You need matches to chat to!',
				'error'
			)

	link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
	script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js')