doctype html

html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/chat.css')
	body
		include navbar.pug

		//- stuff here
		include footer.pug	
		include js_includes.pug