doctype html
html
	head
		title Matcha | Edit Profile
		include header_items.pug
		link(rel='stylesheet', href='edit_profile.css')
	body
		include navbar.pug

		.container.text-center
			h1.mt-white.text-center.mt-5.display-3 Edit Profile


			//- SCRIPTS
		include bootstrap_js.pug
