doctype html
html
	head
		title Matcha | Error
		include header_items.pug
		link(rel="stylesheet", href="error.css")
	body
		#main
			.fof
				p#err.display-2.font-weight-bold Error 404
				p.display-4 ¯\_(ツ)_/¯

				a.rounded-pill.btn.btn-lg.mbg-white.mx-auto.mt-5(href="/") Take Me Home

		include bootstrap_js.pug
