//- link(rel='stylesheet', href='/style/error.css').

//- No idea why the above include does NOT work.

style(type='text/css').
    body {
    background-image: url("../images/404.png");
    background-color: #c25a5a;
    }
body
    p help me