html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/recommendations.css')
	body
		include navbar.pug
		
		h2.mt-white.text-center.mt-5 yes
		.container(style='max-width: 700px;')
			
			.card
				.container.mx-auto.my-5(style='max-width: 700px;')
					.row.mx-auto(style='max-height: 180px;')
						.col
							.card.bg-dark.text-black.mx-auto.mb-5(style='max-width: 150px; max-height: 150px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 150px; height: 150px;')
						.col-8
							.row.mx-auto(style='max-height: 42px;')
								input#profileImg(type='file', name='filename2', style='width: 250px; height: 40px;')
							.row.mx-auto(style='max-height: 42px;')
								a.btn.btn-md(href='#', style='height: 40px;')
								i.fa.fa-trash

					.row.mx-auto(style='max-height: 180px;')
						.col
							.card.bg-dark.text-black.mx-auto.mb-5(style='max-width: 150px; max-height: 150px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 150px; height: 150px;')
						.col-8
							.row.mx-auto(style='max-height: 42px;')
								input#profileImg(type='file', name='filename2', style='width: 250px; height: 40px;')
							.row.mx-auto(style='max-height: 42px;')
								a.btn.btn-md(href='#', style='height: 40px;')
								i.fa.fa-trash

					.row.mx-auto(style='max-height: 180px;')
						.col
							.card.bg-dark.text-black.mx-auto.mb-5(style='max-width: 150px; max-height: 150px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 150px; height: 150px;')
						.col-8
							.row.mx-auto(style='max-height: 42px;')
								input#profileImg(type='file', name='filename2', style='width: 250px; height: 40px;')
							.row.mx-auto(style='max-height: 42px;')
								a.btn.btn-md(href='#', style='height: 40px;')
								i.fa.fa-trash

					.row.mx-auto(style='max-height: 180px;')
						.col
							.card.bg-dark.text-black.mx-auto.mb-5(style='max-width: 150px; max-height: 150px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 150px; height: 150px;')
						.col-8
							.row.mx-auto(style='max-height: 42px;')
								input#profileImg(type='file', name='filename2', style='width: 250px; height: 40px;')
							.row.mx-auto(style='max-height: 42px;')
								a.btn.btn-md(href='#', style='height: 40px;')
								i.fa.fa-trash
					
					.row.mx-auto(style='max-height: 180px;')
						.col
							.card.bg-dark.text-black.mx-auto.mb-5(style='max-width: 150px; max-height: 150px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 150px; height: 150px;')
						.col-8
							.row.mx-auto(style='max-height: 42px;')
								input#profileImg(type='file', name='filename2', style='width: 250px; height: 40px;')
							.row.mx-auto(style='max-height: 42px;')
								a.btn.btn-md(href='#', style='height: 40px;')
								i.fa.fa-trash

					button#submit.btn.btn-lg.btn-success(onclick='postProfileImage()') UPDATE IMAGES BOI

		include footer.pug
		include js_includes.pug
		script(src="/images.js")
		script.
			$("#submit").click( () => {
				let profileImg = $("#profileImg").prop('files')[0];
				//- reader = new FileReader();
				//- reader.readDataAsUrl(profileImg);
				//- profileImg = reader.result;
				postProfileImage();
			});