html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/recommendations.css')
	body
		include navbar.pug
		
		h2.mt-white.text-center.mt-5 Edit Images
		.container(style='max-width: 700px;')
			.card
				.container.mx-auto.my-5(style='max-width: 700px;')
					form#account(name="images", action='/user/account/images', method='POST', enctype="multipart/form-data")
						.row.mx-auto(style='max-height: 180px;')
							.col-8
								.row.mx-auto
									input#profileImg(type='file', name='image', style='width: 250px; height: 40px;')
						button#submit.btn.btn-lg.btn-success(type='submit') Upload
				each value in imageArray
					.card
						.container.mx-auto.my-5(style='max-width: 700px;')
							.row.mx-auto(style='max-height: 180px;')
								.col
									.card.bg-dark.text-black.mx-auto.mb-5(style='max-width: 150px; max-height: 150px;')
										img.img-fluidd-block.w-100(src=value, alt='...', style='width: 150px; height: 150px;')
								.col-8
									//- .row.mx-auto
										input#profileImg(type='file', name='image', style='width: 250px; height: 40px;')
									.row.mx-auto(style='max-height: 42px;')
										button.btn.btn-danger.mt-2(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-trash
										button.btn.btn-success.mt-2(value=value, onclick='setActiveImage(this.value)') Set as Active

		script(src="/images.js")
		include footer.pug
		include js_includes.pug