doctype html
html
	head
		title Matcha | Home
		include header_items.pug
		link(rel='stylesheet', href='index.css')
	body
		include navbar.pug

		.container.text-center
			h1.mt-white.text-center.mt-5.display-3 There's no place like 127.0.0.1
			//- img.img-fluid(src="back1.jpg" style="z-index:5")

			button.rounded-pill.btn.btn-lg.mbg-white.mx-auto.mt-5 Join Us

			//- SCRIPTS
		include bootstrap_js.pug
