doctype html
html
	head
		title Matcha | Home
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='bootstrap.min.css')
		link(rel='stylesheet', href='colours.css')
		link(rel='stylesheet', href='index.css')
	body
		include navbar.pug

		h1.mt-white.text-center There's no place like 127.0.0.1

			//- SCRIPTS
		include bootstrap_js.pug
