doctype html
html
	head
		title Matcha | Home
		include header_items.pug
		link(rel='stylesheet', href='index.css')
	body
		include navbar.pug

		h1.mt-white.text-center There's no place like 127.0.0.1

			//- SCRIPTS
		include bootstrap_js.pug
