doctype html
html
	head
		title Matcha | Home
		include header_items.pug
		link(rel='stylesheet', href='index.css')
	body
		include navbar.pug

		.container
			h1.mt-white.text-center.mt-5.display-3 There's no place like 127.0.0.1
			//- img.img-fluid(src="back1.jpg" style="z-index:5")

			//- SCRIPTS
		include bootstrap_js.pug
