doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/likes.css')
	body
		include navbar.pug
		
		h1.text-center.my-3.mt-white.display-3#heading Profile Likes
		.container(style='max-width: 900px;min-width:360px;')
			.card
				each val in userList
					.card-body
						a(href='/user/profile/'+val.liker) #{val.liker} liked your profile
	include footer.pug
	include js_includes.pug