doctype html
html
	head
		title Matcha | Login
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='bootstrap.min.css')
		link(rel='stylesheet', href='colours.css')
		link(rel='stylesheet', href='login.css')
	body
		include navbar.pug

		.container.mx-auto
			.row
				.col-4.mx-auto
					.card.my-5(style='width:400px')
						.card-body
							block content
								h1 Login
								hr
								form#login(name="login",action='api/login', method='POST')
									div.form-group
										label(for='userName') Username
										input#users.userName(type='text' placeholder='userName' name='userName')
									div.form-group
										label(for='password') Password
										input#users.password(type='password' placeholder='password' name='password')
									button.btn.btn-success.btn-block(type='submit', value='add') Login

			//- SCRIPTS
		include bootstrap_js.pug
