doctype html
html
	head
		title Matcha | Login
		include header_items.pug
		link(rel='stylesheet', href='login.css')
	body
		include navbar.pug

		.container.mx-auto
			.row
				.col
					.card.my-5.mx-auto(style='max-width:400px')
						.card-body
							block content
								h1 Login
								hr
								form#login(name="login", action='api/login', method='POST')
									label(for='userName') Username
									input#users.userName(type='text' placeholder='userName' name='userName')

									label(for='password') Password
									input#users.password(type='password' placeholder='password' name='password')
									
									p.text-right
										| New User? 
										a(href='/register') Register.
									p.text-right
										| Forgot Password? 
										a(href='/forgot') Reset.

									button.btn.btn-success.btn-block.btn-lg(type='submit', value='add') Login

			//- SCRIPTS
		include bootstrap_js.pug
