doctype html
html
	head
		title Matcha | Login
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='bootstrap.min.css')
		link(rel='stylesheet', href='colours.css')
		link(rel='stylesheet', href='login.css')
	body
		include navbar.pug

		block content
			h1 Login
			form#login(name="login",action='api/login', method='POST')
			div.form-group
				label(for='userName') Username
				input#users.userName(type='text' placeholder='userName' name='userName')
			//- div.form-group
			//- 	label(for='firstName') First Name
			//- 	input#users.firstName(type='text' placeholder='firstName' name='firstName')
			//- div.form-group
			//- 	label(for='lastName') Last Name
			//- 	input#users.lastName(type='text' placeholder='lastName' name='lastName')
			//- div.form-group
			//- 	label(for='email') Email
			//- 	input#users.email(type='text' placeholder='email' name='email')
			div.form-group
				label(for='password') Password
				input#users.password(type='password' placeholder='password' name='password')
			//- div.form-group
			//- 	label(for='confirmPassword') Confirm Password
			//- 	input#users.confirmPassword(type='password' placeholder='confirmPassword' name='confirmPassword')
			//- div.form-group
			//-     label(for='jobTitle') Job Title
			//-     input#users.jobTitle(type='text' placeholder='jobTitle' name='jobTitle')
			button(type='submit', value='add') Register

			//- SCRIPTS
		include bootstrap_js.pug
