doctype html
html
	head
		title Matcha | Login
		include header_items.pug
		link(rel='stylesheet', href='login.css')
	body
		include navbar.pug

		.container.mx-auto
			.row
				.col
					.card.my-5.mx-auto(style='max-width:400px')
						.card-body
							block content
								h1 Login
								hr
								form#login(name="login", action='', method='POST')
									label(for='userName') Username
									input#userLogin.userName(type='text' placeholder='Enter Username' name='userLogin')

									label(for='password') Password
									input#userPass.password(type='password' placeholder='Enter Password' name='password')
									
									p.text-right
										| New User? 
										a(href='/register') Register.
									p.text-right
										| Forgot Password? 
										a(href='/forgot') Reset.

									button#submit.btn.btn-success.btn-block.btn-lg(type='submit', value='add') Login
		
		include footer.pug

			//- SCRIPTS
		include bootstrap_js.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script.
			$(document).ready(function(){
				var user,pass;
				$("#submit").click(function(){
				user=$("#userLogin").val();
				pass=$("#userPass").val();
				$.post("/",{user: user,password: pass}, function(data){
				});
				window.location.replace("http://localhost:8080?action=login");
				});
			});