doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/login.css')
	body
		include navbar.pug

		#Main.container.mx-auto
			h1.text-center.mt-white.mt-5.display-3 Welcome Back!
			.row
				.col
					.card.my-5.mx-auto(style='max-width:500px')
						.card-body
							block content
								h1 Login
								hr
								form#login.needs-validation(name="login", action='', method='POST' novalidate)
									.form-group
										label(for='userName') Username:
										input#userLogin.form-control(type='text' placeholder='Enter Username' name='userLogin' required)
										.valid-feedback Valid.
										.invalid-feedback Please fill out this field.

									.form-group
										label(for='password') Password:
										input#userPass.form-control(type='password' placeholder='Enter Password' name='password' required)
										.valid-feedback Valid.
										.invalid-feedback Please fill out this field.
									
									p.text-right
										| New User? 
										a(href='/user/register') Register.
									p.text-right
										| Forgot Password? 
										a(href='/forgot') Reset.

									//- p#error
									#error.alert.alert-danger.alert-dismissible.d-none
										button.close(type='button', data-dismiss='alert') ×
										| Example Text

									button#submit.btn.btn-success.btn-block.btn-lg.enableOnInput(type='submit', value='add' disabled='disabled') Login
		
		include footer.pug

			//- SCRIPTS
		include ../views/bootstrap_js.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script.
			$(document).ready(function(){
				var user,pass;
				$("#submit").click(function(){
				user=$("#userLogin").val();
				pass=$("#userPass").val();
				$.post("/",{user: user,password: pass}, function(data){
				});
				window.location.replace("http://localhost:8080?action=login");
				});
			});

		script(src="/submission.js")
		script(src="/login.js")
		//- script.
		//- 	$('#userPass, #userLogin').keyup(function () {
		//- 		if ($(this).val() == '') {
		//- 			//Check to see if there is any text entered
		//- 			// If there is no text within the input ten disable the button
		//- 			$('.enableOnInput').prop('disabled', true);
		//- 		} else {
		//- 			//If there is text in the input, then enable the button
		//- 			$('.enableOnInput').prop('disabled', false);
		//- 		}
		//- 	});
		script.
			$("input[type='text'], input[type='password']").on("keyup", function(){
				if($("input[type='text']").val() != "" && $("input[type='password']").val() != ""){
					$("#submit").prop("disabled", false);
				} else {
					$("#submit").prop("disabled", true);
				}
			});