doctype html
html
	head
		if !userLogged
			script.
				window.location.replace = "/user/login";
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/preferences.css')
	body
		include navbar.pug

		.container.mx-auto
			.row
				.col
					.card.my-5.mx-auto(style='max-width:400px')
						.card-body
							block content
								h1 Preferences
								hr
								form#userPrefs(name="adduser",action='', method='POST')
									.form-group
										label(for='gender') Gender
										//- input#userGender(type='text' placeholder='gender' name='gender')
										select#userGender.custom-select(name='gender')
											option(value='male') Male
											option(value='female') Female
											option(value='other') Other
											option(value='attackheli') Attack Helicopter 

									.form-group
										label(for='sexPref') Sexual Preference
										//- input#userSexPref(type='text' placeholder='sexualPreference' name='sexPref')
										select#userSexPref.custom-select(name='sexPref')
											option(value='bi') Bisexual
											option(value='hetero') Heterosexual
											option(value='homo') Homosexual

									.form-group
										label(for='DOB') Date of Birth									
										input#userDOB(type="date" name="DOB")

									form-group
										label(for='bio') Biography
										textarea#userBio(placeholder='Biography' name='bio' form="userPrefs" rows='3')

									.form-group
										label(for='interests') Interests
										input#userInterests(type='text' placeholder='interests' name='interests')
									//- Change Pics and Bio, probably other things too
									//- .custom-file
									//- .form-group
									//- 	label(for='propic') Profile Image
									//- 	input#userProPic(type='file' placeholder='Select an Image' name='propic')

									input#submit.btn.btn-success.btn-block.btn-lg.enableOnInput(type='button', value='Update' onclick='PrefCheck()' style="background-color:#28a745")
								p#error.mt-3

		include footer.pug

			//- SCRIPTS
		include bootstrap_js.pug
		script(src="/submission.js")
		script(src="/pref.js")
		//- script.
		//- 	$(document).ready(function(){
		//- 		var user,pass;
		//- 		//- $("#SetPref").click(function(){
		//- 		user=$("#userLogin").val();
		//- 		pass=$("#userPass").val();
		//- 		$.post("/",{user: user,password: pass}, function(data){
		//- 		});
		//- 		window.location.replace("http://localhost:8080?action=setPref");
		//- 		});
		//- 	});