doctype html
html
	head
		title Matcha | Profile
		include header_items.pug
		link(rel='stylesheet', href='profile.css')
	body
		include navbar.pug

		.container
			h1.mt-white.text-center.mt-5.display-3 Profile

			.container.mx-auto.my-5(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					#carouselControls.carousel.slide(data-ride='carousel', data-interval="false")
						ol.carousel-indicators
							li.active(data-target='#carouselIndicators', data-slide-to='0')
							li(data-target='#carouselIndicators', data-slide-to='1')
							li(data-target='#carouselIndicators', data-slide-to='2')
						.carousel-inner
							.carousel-item.active(data-interval="false")
								img.img-fluidd-block.w-100(src='images.jpeg', alt='...')
							.carousel-item(data-interval="false")
								img.d-block.w-100(src='images2.jpeg', alt='...')
							.carousel-item(data-interval="false")
								img.d-block.w-100(src='images3.jpg', alt='...')
						a.carousel-control-prev(href='#carouselControls', role='button', data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
						a.carousel-control-next(href='#carouselControls', role='button', data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next 
		
					//- img.card-img-top(src='images.jpeg', alt='...', style='max-width: 1000;')
					.card-body
						h1.display-4.card-title Jeff Society
						h4.card-subtitle.mb-2.text-muted 69
						p.card-text
							| 420kms away
						p.card-text
							| straight, male
						p.card-text
							| looking for a whamens
						hr
						h4.card-title Interests
						p.card-text
							| #programs #memes #gangweed
						hr
						h4.card-title Bio
						p.card-text
							| Is a gamer who lives in a society, programs the programs, is very hastag relatables, has a N-word pass.

		include footer.pug

			//- SCRIPTS
		include bootstrap_js.pug