doctype html
html
	head
		title Matcha | Profile
		include header_items.pug
		link(rel='stylesheet', href='profile.css')
	body
		include navbar.pug

		.container.text-center
			h1.mt-white.text-center.mt-5.display-3 Profile

			.card(style='max-width: 1000;')
				#carouselExampleControls.carousel.slide(data-ride='carousel')
					ol.carousel-indicators
						li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
						li(data-target='#carouselExampleIndicators', data-slide-to='1')
						li(data-target='#carouselExampleIndicators', data-slide-to='2')
					.carousel-inner
						.carousel-item.active
							img.img-fluidd-block.w-100(src='images.jpeg', alt='...')
						.carousel-item
							img.d-block.w-100(src='images2.jpeg', alt='...')
						.carousel-item
							img.d-block.w-100(src='images3.png', alt='...')
					a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
						span.carousel-control-prev-icon(aria-hidden='true')
						span.sr-only Previous
					a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
						span.carousel-control-next-icon(aria-hidden='true')
						span.sr-only Next 
	
				//- img.card-img-top(src='images.jpeg', alt='...', style='max-width: 1000;')
				.card-body
					h5.card-title Card title
					p.card-text
					| Some quick example text to build on the card title and make up the bulk of the card's content.
					a.btn.btn-primary(href='#') Go somewhere

			//- SCRIPTS
		include bootstrap_js.pug
