doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/recommendations.css')
	body
		include navbar.pug
		
		.container-fluid(style='width: 1400px;')
			h1.mt-white.text-center.mt-5.display-3 Recommendations
			
			.card
				.container-fluid.mx-auto.my-5(style='width: 1400px;')
					.row
						a.nav-link.mb-5(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title Till, 25
						a.nav-link(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images2.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title John, 20
						a.nav-link(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images3.jpg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title Tom, 42
						a.nav-link(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title Jeff, 69
			
															//- .container-fluid.mx-auto.my-5(style='width: 1400px;')
					.row
						a.nav-link.mb-5(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title Till, 25
						a.nav-link(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images2.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title John, 20
						a.nav-link(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images3.jpg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title Fred, 21
						a.nav-link(href='#')
							.card.bg-dark.text-black.mx-auto(style='width: 300px; height: 300px;')
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card.mbg-light-grey
									h5.card-title Bob, 19

		include footer.pug

		include bootstrap_js.pug