doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/register.css')
	body
		include navbar.pug

		#Main.container.mx-auto
			.row
				.col
					.card.my-5.mx-auto(style='max-width:400px')
						.card-body
							block content
								h1 Register
								hr
								form#register.needs-validation(name="register", action='', method='POST' novalidate)
									.form-group
										label(for='userName') Username:
										input#userLogin.form-control(type='text' placeholder='Enter Username' name='userLogin' required)
										.valid-feedback Valid.
										.invalid-feedback Please fill out this field.

									.form-group
										.form-group
											label(for='firstName') Name:
											input#userName.form-control(type='text' placeholder='Enter Name' name='userName' required)
											.valid-feedback Valid.
											.invalid-feedback Please fill out this field.

										.form-group
											label(for='lastName') Surname:
											input#userSurname.form-control(type='text' placeholder='Enter Surname' name='userSurname' required)
											.valid-feedback Valid.
											.invalid-feedback Please fill out this field.

									.form-group
										label(for='email') Email:
										input#userEmail.form-control(type='text' placeholder='Enter Email' name='userEmail' required)
										.valid-feedback Valid.
										.invalid-feedback Please fill out this field.

									.form-group
										.form-group
											label(for='password') Password:
											input#userPassword.form-control(type='password' placeholder='Enter Password' name='userPass' required)
											.valid-feedback Valid.
											.invalid-feedback Please fill out this field.

										.form-group
											label(for='confirmPassword') Confirm Password:
											input#userConfPass.form-control(type='password' placeholder='Confirm Password' name='userConfPass' required)
											.valid-feedback Valid.
											.invalid-feedback Please fill out this field.

									p.text-right
										| Already have an account? 
										a(href='/user/login') Login.
									
									button#submit.btn.btn-success.btn-block.btn-lg(type='submit', value='register') Register

		include footer.pug

			//- SCRIPTS
		include bootstrap_js.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script.
			$(document).ready(function(){
				var userLogin,userName,userSurname,userEmail,userPass,userConfPass;
				//- $("#submit").click(function(){
				userLogin=$("#userLogin").val();
				userName=$("#userName").val();
				userSurname=$("#userSurname").val();
				userEmail=$("#userEmail").val();
				userPass=$("#userPass").val();
				UserConfPass=$("#userConfPass").val();
				$.post("/",{userLogin: userLogin,userName: userName,userSurname: userSurname,userEmail: userEmail,userPass: userPass,UserConfPass: userConfPass}, function(data){
				});
				window.location.replace("http://localhost:8080?action=register");
				});
			});

		script.
			// Disable form submissions if there are invalid fields
			(function() {
				'use strict';
				window.addEventListener('load', function() {
				// Get the forms we want to add validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
				if (form.checkValidity() === false) {
				event.preventDefault();
				event.stopPropagation();
				}
				form.classList.add('was-validated');
				}, false);
				});
				}, false);
				})();