doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/register.css')
		link(rel='stylesheet', href='/sweetalert2.css')
	body
		include navbar.pug

		.container.mx-auto
			h1.text-center.mt-white.mt-5.display-3#heading One of Us, One of Us!
			.row
				.col
					.card.my-5.mx-auto(style='max-width:500px')
						.card-body
							block content
								h1 Register
								//- please let ben know if you move the order of resiteration fields so he can fix validation
								small#HelpBlock.form-text.text-muted
									| Fields marked with an asterisk are required.
								hr
								form#register(name="register", action='', method='POST' novalidate)
									.form-group
										label(for='userName') * Username:
										input#userLogin.form-control(type='text' placeholder='Enter Username' name='userLogin' autofocus)
										small#usernameHelpBlock.form-text.text-muted
											| All usernames will be forced to lower case.
										p#userNameError.errorMsg

									.form-group
										.form-group
											label(for='firstName') * Name:
											input#userName.form-control(type='text' placeholder='Enter Name' name='userName')
											p#firstNameError.errorMsg

										.form-group
											label(for='lastName') * Surname:
											input#userSurname.form-control(type='text' placeholder='Enter Surname' name='userSurname')
											p#lastNameError.errorMsg

									.form-group
										label(for='email') * Email:
										input#userEmail.form-control(type='email' placeholder='Enter Email' name='userEmail')
										p#emailError.errorMsg

									.form-group
										.form-group
											label(for='password') * Password:
											input#userPass.form-control(type='password' placeholder='Enter Password' name='userPass')
											p#passError.errorMsg
											small#passwordHelpBlock.form-text.text-muted
												| Your password must be 8 characters long and contain letters and numbers. It must not contain spaces, special characters, or emoji.

										.form-group
											label(for='confirmPassword') * Confirm Password:
											input#userConfPass.form-control(type='password' placeholder='Confirm Password' name='userConfPass')
											p#confPassError.errorMsg

									p.text-right
										| Already have an account? 
										a(href='/user/login') Login.
									
									button#submit.btn.btn-success.btn-block.btn-lg.enableOnInput(type='button', value='Register', onclick='registerPost()', disabled='disabled') Register
								p#error.mt-3

		include footer.pug

			//- SCRIPTS
		include js_includes.pug
		script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js")
		script(src="/register.js")
		script(src='/validation.js')
		//- annoying validation is currently disabled
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")

		if error === 'invalidForm'
			script.
				swal(
					'Error!',
					'Registration form was invalid',
					'error'
				)

			