doctype html
html
	head
		title Matcha | Preferences
		include header_items.pug
		link(rel='stylesheet', href='set_prefs.css')
	body
		include navbar.pug

		.container.mx-auto
			.row
				.col
					.card.my-5.mx-auto(style='max-width:400px')
						.card-body
							block content
								h1 Preferences
								hr
								form#addUser(name="adduser",action='api/prefs', method='POST')
									label(for='gender') Gender
									input#users.gender(type='text' placeholder='userName' name='gender')

									label(for='sexPref') Sexual Preference
									input#users.sexPref(type='text' placeholder='firstName' name='sexPref')

									label(for='bio') Biography
									input#users.bio(type='textarea' placeholder='lastName' name='bio')

									label(for='interests') Interests
									input#users.interests(type='text' placeholder='email' name='interests')
									//- Change Pics and Bio, probably other things too
									label(for='pics') Pics
									input#users.pics(type='password' placeholder='password' name='password')

									button.btn.btn-success.btn-block.btn-lg(type='submit', value='update') Update Preferences

			//- SCRIPTS
		include bootstrap_js.pug
