doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/views.css')
	body
		include navbar.pug
		
		h1.text-center.my-3.mt-white.display-3 Profile Views
		.container(style='max-width: 1100px;min-width:360px;')
			.card
				a.nav-link(href='#') Till viewed your profile
				hr
				a.nav-link(href='#') Bob viewed your profile
				hr
				a.nav-link(href='#') Elizabeth viewed your profile
				hr
				a.nav-link(href='#') Barnaby viewed your profile
	include footer.pug
	include js_includes.pug