doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/views.css')
	body
		include navbar.pug
		
		h1.text-center.my-3.mt-white.display-3 Profile Views
		.container(style='max-width: 1100px;min-width:360px;')
			.card
				.row
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images.png', alt='...', style='width: 300px; height: 300px')
								.card-body.mbg-light-grey
									h5.card-title Till

					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px;min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images2.jpeg', alt='...', style='width: 300px; height: 300px')
								.card-body.mbg-light-grey
									h5.card-title John
									
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images3.jpg', alt='...', style='width: 300px; height: 300px;')
								.card-body.mbg-light-grey
									h5.card-title Tom
									
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images.png', alt='...', style='width: 300px; height: 300px;')
								.card-body.mbg-light-grey
									h5.card-title Zed

	include footer.pug
	include js_includes.pug