/* https://colorhunt.co/palette/138147 */

.matcha-blue {
    background-color: #1cb3c8;
}

.matcha-grey {
    background-color: #738598;
}

.matcha-white {
    background-color: #dfe2e2;
}

.matcha-purple {
    background-color: #3c415e;
}