/* https://colorhunt.co/palette/138147 */

body {
	background-color: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(214,22,48,1) 48%, rgba(214,22,48,1) 68%, rgba(224,105,19,1) 100%);
    min-height: 100vh;
    position: relative;
	padding-bottom: 90px;
    overflow-x: hidden;	
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 56px;
}

#Toasty {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.mbg-blue {
    background-color: #1cb3c8;
}

.mbg-red {
    background-color: #ff4949;
}

.mbg-dark-red {
    background-color: #c10000;
}

.mbg-light-grey {
    background-color: #dedede;
}

.mbg-grey {
    background-color: #738598;
}

.mbg-white {
    background-color: #eeeeee;
}

.mbg-purple {
    background-color: #3c415e;
}

.mt-blue {
    color: #1cb3c8;
}

.mt-red {
    background-color: #ff4949;
}

.mt-dark-red {
    background-color: #c10000;
}

.mt-light-grey {
    background-color: #dedede;
}

.mt-grey {
    color: #738598;
}

.mt-white {
    color: #eeeeee;
}

.mt-purple {
    color: #3c415e;
}

.blue {
	color: blue;
}

.pink {
	color:	palevioletred
}

@media screen and (max-width: 575.98px) {
    #heading {
		font-size: 2.5rem;
	}
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    #heading {
		font-size: 3.5rem;
	}
}
