#Logo {
    padding-right: 7px;
    font-size: 1.75rem;
}

body {
    background-color: #ff4949;
    /* background-image: url("back1.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
}
