body {
    /* background-color: #ff4949; */
    background-color: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(214,22,48,1) 48%, rgba(214,22,48,1) 68%, rgba(224,105,19,1) 100%);
    min-height: 100vh;
    position: relative;
    padding-bottom: 90px;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 56px;
}

@media screen and (max-width: 767.98px) {
    body {
        padding-bottom: 90px;
    }

    .foot {
        height: 56px;
    }
}

#NotifDiv.hide {
    opacity: 0;
}

#NotifDiv {
    transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}
