body {
	/* background-color: #ff4949; */
	background-color: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(214,22,48,1) 48%, rgba(214,22,48,1) 68%, rgba(224,105,19,1) 100%);
	min-height: 100vh;
    position: relative;
    padding-bottom: 250px;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 8px 0;
	/* border: none; */
	color: black;
	background: #edf0f2;
}

input[type=button]{
	height: 100%;
	width: 100px;
	/* font-size: 18px; */
	/* font-family: 'Titillium Web', sans-serif; */
	color: white;
	background-color: #313131;
	border: none;
	border-spacing: 0;
	border-width: 1px;
}

input[type=button]:hover{
	background-color: #ca3e47;
}

input[type=button]:focus{
	box-shadow:inset 0px -5px #ca3e47;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 200px;
}

#error {
	color: red;
}

@media screen and (max-width: 767.98px) {
    body {
        padding-bottom: 90px;
    }

    .foot {
        height: 56px;
	}
}

.errorMsg {
	color: red;
}
