body {
    background-color: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(214,22,48,1) 48%, rgba(214,22,48,1) 68%, rgba(224,105,19,1) 100%);
    min-height: 100vh;
    position: relative;
    padding-bottom: 90px;
    overflow-x: hidden;
}

.foot {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 56px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 8px 0;
	/* border: none; */
	color: black;
    background: #edf0f2;
}

#yes {
	width: 15%;
	padding: 15px;
	margin: 5px 0 8px 0;
	/* border: none; */
	color: black;
    background: #edf0f2;
}

@media screen and (max-width: 767.98px) {
    body {
        padding-bottom: 90px;
    }

    .foot {
        height: 56px;
    }
}
